.row_footer{
    display:flex;
    justify-content:space-around;
}
body{
    background:url("http://getwallpapers.com/wallpaper/full/8/5/6/552860.jpg");
    color:cyan;
}
#welcome{
    display:flex;
    justify-content:center;
}
.row_mid{
    display:flex;
    justify-content:space-around;
}
.headshot{
    display:flex;
    justify-content:center;
    
}
.row_aboutme{
    display:flex;
    justify-content:center;
}
.row_contact{
    display:flex;
    justify-content:space-around;
}
.description{
    display:flex;
    justify-content:center;
    padding:200px;
}
.sdd{
    display:flex;
    justify-content:center;
}
